<!-- VISTA PARA MOSTRAR UN SOLO PRODUCTO A TRAVÉS DEL ID QUE SE RECIBE COMO PARÁMETRO -->

<div class="product-container">
    <h2>{{product.nombre}}</h2>
    <p class="price">Precio: ${{product.precio}}</p>
    <p class="description">{{product.descripcion}}</p>
    <p class="id">ID: {{product._id}}</p>
    <form action="/product/{{product._id}}?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Eliminar</button>
    </form>
</div>